<!--导入学生账号-->
{% extends "../../../templates/template.html" %}
{% block base %}
    <div class="col-lg-12 mb-5 pt-5" style="padding-top: 2vh !important;">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="index">宿舍卫生</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dormmanage">学生住宿管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="targetsearch">定向查询</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="accountmanage">账号管理</a>
                    </li>
                </ul>
            </div>
            <div class="card-body" style="margin-top: 0;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="/teacher/form_import_student_account" method="post">
                                    <div class="form-group row col-sm-12">
                                        <label for="id" class="col-control-label col-sm-4">学号</label>
                                        <div class="col-sm-8">
                                            <input type="number" id="id" name="id" class="form-control"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group row col-sm-12">
                                        <label for="college" class="col-control-label col-sm-4">学院</label>
                                        <div class="col-sm-8">
                                            <select id="college" name="college" class="form-control">
                                                <option value="软件学院">软件学院</option>
                                                <option value="生物学院">生物学院</option>
                                                <option value="物理学院">物理学院</option>
                                                <option value="环境工程与工程学院">环境工程与工程学院</option>
                                                <option value="药学院">药学院</option>
                                                <option selected>...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row col-sm-12">
                                        <label for="name" class="col-form-label col-sm-4">姓名</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="name" id="name">
                                        </div>
                                    </div>

                                    {% include "../../../templates/roominput_template.html" %}

                                    <button id="import" type="submit" class="btn btn-primary" style="margin:2vh auto">导入
                                    </button>
                                    <script>
                                        $("#import").click(function () {
                                            if ($("#id").val() == "") {
                                                $("#id_error").show()
                                                setTimeout(function () {
                                                    $("#id_error").hide();
                                                }, 2000);
                                                return false;
                                            } else if ($("#college").val() == "..." || $("#college").val() == "") {
                                                $("#college_error").show()
                                                setTimeout(function () {
                                                    $("#college_error").hide();
                                                }, 2000);
                                                return false;

                                            } else if ($("#name").val() == "") {
                                                $("#name_error").show();
                                                setTimeout(function () {
                                                    $("#name_error").hide();
                                                }, 2000)
                                                return false;
                                            }
                                            return true;
                                        })
                                    </script>
                                </form>
                                <span id="id_error" style="color: red;font-size: 0.8vw;display: none;">id不应为空</span>
                                <span id="college_error" style="color: red;font-size: 0.8vw;display: none;">学院不应为空</span>
                                <span id="name_error" style="color: red;font-size: 0.8vw;display: none;">名字不应为空</span>

                                {% if status == "id_exist" %}
                                    <span id="error" style="color: red;font-size: 0.8vw;">目标学号已经存在</span>
                                    <script>
                                        setTimeout(function () {
                                            $("#error").hide()
                                        }, 5000)
                                    </script>
                                {% endif %}
                                {% if status == "ok" %}
                                    <span id="ok"
                                          style="color: red;font-size: 0.8vw;">操作成功</span>
                                    <script>
                                        setTimeout(function () {
                                            $("#ok").hide()
                                        }, 5000)
                                    </script>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 2vh;">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="/teacher/file_import_student_account" class="form-inline" method="post"
                                      enctype="multipart/form-data">
                                    <div class="form-group mb-2">
                                        <label for="file"
                                               class="col-form-label sr-only">从文件导入名单</label>
                                        <input type="text" class="form-control-plaintext" value="从文件导入名单">
                                    </div>
                                    <div class="form-group mx-sm-3 mb-2">
                                        <input type="file" class="form-control form-control-file" id="file"
                                               name="file">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">上传</button>
                                    </div>
                                    {% if status == "file_ok" %}
                                        <span id="ok"
                                              style="color: red;font-size: 0.8vw;">操作成功</span>
                                        <script>
                                            setTimeout(function () {
                                                $("#ok").hide()
                                            }, 5000)
                                        </script>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}