<!--定向查询-->
{% extends "../templates/template.html" %}
{% block base %}
<div class="col-lg-12 mb-5 pt-5" style="padding-top: 2vh !important;">
    <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" href="index">宿舍卫生</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="dormmanage">学生住宿管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="targetsearch">定向查询</a>
      </li>
    </ul>
  </div>
  <div class="card-body" style="margin-top: 0;">
    {% include "./card/targetsearch_all_function.html" %}
  </div>
</div>
</div>
{% endblock %}